// colours
$main-colour: #007a47;
$secondary-colour: #33956c;
$tertiary-colour: #e65137;

// font
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$main-font: "Raleway", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $main-colour;
  font-family: $main-font;
  font-weight: 400;
}

@import "./partials/mobile";
@import "./partials/todo";
